//- boxMember - object of Box Member

mixin box-member(boxMember)
  // Box Member
  .box-member
    img.img-responsive(src= boxMember.img.src width= boxMember.img.width height= boxMember.img.height alt= boxMember.img.alt)
    .offset-top-18
      .box-member-title
        h6.text-bold.text-primary
          a(href= boxMember.title.href)= boxMember.title.text
      .box-member-description.offset-top-5
        p= boxMember.desc.text
    .box-member-wrap
      .box-member-caption
        .box-member-caption-inner
          block