//- timer Timer object
//- type types of Timers (countdown-modern, countdown-inline, countdown-ellipse)
mixin post-vacation(vacationLink, title, vacationMeta)
  // Vacation
  a(href= vacationLink).post-vacation
    div
      div(class= title.style)= title.text
    .post-meta.offset-top-18.offset-xl-top-23
      ul.list-inline.list-inline-sm.p
        each vacation in vacationMeta
          li
            case vacation.type
              when "location"
                span.text-middle(class= vacation.iconStyle)
                = ' '
                span.text-middle= vacation.text
              when "work-time"
                span.text-middle(class= vacation.iconStyle)
                = ' '
                span.text-middle= vacation.text
              when "date"
                span.text-middle(class= vacation.iconStyle)
                = ' '
                time.text-middle(datetime='2016-01-01')= vacation.text