//- RD Navbar Top Panel
//- navbar - object of Navbar

mixin rd-navbar-top-panel(navbar)
    // RD Navbar Top Panel
    .rd-navbar-wrap
      nav&attributes(navbar.attr).rd-navbar.rd-navbar-top-panel(class=navbar.style data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="90px" data-lg-stick-up-offset="100px" data-auto-height="false")
        .rd-navbar-inner(class= navbar.inner)
         
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
              span
            
            // Navbar Brand
            .rd-navbar-brand
              a(href= cfg.nav.home.href)
                img(src="images/logo-dark.png", width="191", height="23", alt="") 
          .rd-navbar-menu-wrap
            .rd-navbar-nav-wrap
              .rd-navbar-mobile-scroll
                
                
                // RD Navbar Nav
                ul.rd-navbar-nav
                  li(class=(navbar.active == 1 ? 'active' : ''))
                    a(href='#home') Home
                  li(class=(navbar.active == 2 ? 'active' : ''))
                    a(href='#about') About
                  
                  li(class=(navbar.active == 4 ? 'active' : ''))
                    a(href='#team') Team
                  li(class=(navbar.active == 5 ? 'active' : ''))
                    a(href="#tips-and-tricks") Tips & Tricks
                    
                  li(class=(navbar.active == 6 ? 'active' : ''))
                    a(href='#testimonials') Testimonials
                  li(class=(navbar.active == 7 ? 'active' : ''))
                    a(href='#gallery') Gallery
                  li  
                  a(href='#modal' data-toggle='modal').btn.btn-primary Contacts Us
                    
            