//- progress - object{progress}
mixin progress-bar-linear(progress)
  // Linear progress bar
  .progress-linear(data-to= progress.valueTo)
    .progress-header.clearfix
      div.pull-left.text-left
        span.h6.text-regular= progress.title
      div.pull-right
        span.h6.text-bold.progress-value.text-atlantis= progress.valueTo
    .progress-bar-linear-wrap.offset-top-4
      .progress-bar-linear(class= progress.apClass)