//- guide - object of Guide Post

mixin guide-post(guide)
  // Guide Post
  .guide-post
    a(href= guide.href)
      .guide-post-img-wrap
        img.img-responsive.center-block(src= guide.img.src width= guide.img.width height= guide.img.height alt= guide.img.alt)
      .guide-post-body
        - if (guide.desc.type === null)
          div(class= guide.title.offset)
            div(class= guide.title.style)= guide.title.text
        - else
          div
            p.guide-post-description(class= guide.desc.style)= guide.desc.text
          div(class= guide.title.offset)
            div(class= guide.title.style)= guide.title.text