//- boxMember - object of Box Member Type 2

mixin box-member-type-2(boxMember)
  // Box Member Type 2
  .box-member.box-member-type-2
    .box-member-img-wrap
      img.img-responsive(src= boxMember.img.src width= boxMember.img.width height= boxMember.img.height alt= boxMember.img.alt)
    .box-member-wrap
      .box-member-caption
        .box-member-caption-inner
          .box-member-caption-wrap
            .box-member-title
              h6.text-bold.text-warning
                a(href= boxMember.title.href)= boxMember.title.text
            .box-member-description.offset-top-5
              p(class= boxMember.desc.style)= boxMember.desc.text

            block