//- nameList - amount of tabs
mixin accordion-classic(nameList, tabsGroup, appClass)
  // Classic Accordion
  .responsive-tabs.responsive-tabs-classic(data-type="accordion" class=appClass)
    ul.resp-tabs-list(data-group= tabsGroup || "tabs-group-default", class= tabsGroup || "tabs-group-default")
      each item in nameList
        li= item
    .resp-tabs-container(data-group= tabsGroup || "tabs-group-default", class= tabsGroup || "tabs-group-default")
      block