//- thumbnail - object of Thumbnail Rayen Certificates

mixin certificate(owl, certificates)
  .owl-carousel.owl-carousel-classic(data-items= owl.items data-xs-items= owl.xsItems data-md-items= owl.mdItems data-lg-items= owl.lgItems data-dots= owl.dots data-nav= owl.nav data-margin= owl.margin data-photo-swipe-gallery="gallery")
    // Thumbnail Rayen Certificates
    each certificate in certificates
      div
        a.thumbnail-rayen.thumbnail-rayen-certificatess.thumbnail-rayen-primary(data-photo-swipe-item='', data-size= certificate.img.dataSize, href= certificate.img.orgImg)
          span.figure
            img(width= certificate.img.width, height= certificate.height, src= certificate.img.src, alt= certificate.img.alt)
            span.figcaption
              span.icon(class= certificate.icon)