// Centre Light Footer
footer.section-relative.section-top-57.section-bottom-20.page-footer.bg-white.context-light
  .shell-wide
    .range.range-xs-center
      .cell-xs-10.cell-sm-6.cell-md-4.cell-lg-4.cell-xl-3
        // Footer brand
        .footer-brand
          a(href=cfg.nav.home.href)
            | !{cfg.brand.logo}

        ul.list-inline.list-inline-2.reveal-inline-block.offset-top-23
          li
            a.icon.icon-xxs.icon-boulder-filled.icon-boulder-filled-inverse.icon-circle(href="#" class="fa fa-facebook")
          li
            a.icon.icon-xxs.icon-boulder-filled.icon-boulder-filled-inverse.icon-circle(href="#" class="fa fa-twitter")
          li
            a.icon.icon-xxs.icon-boulder-filled.icon-boulder-filled-inverse.icon-circle(href="#" class="fa fa-google-plus")
          li
            a.icon.icon-xxs.icon-boulder-filled.icon-boulder-filled-inverse.icon-circle(href="#" class="fa fa-instagram")
          li
            a.icon.icon-xxs.icon-boulder-filled.icon-boulder-filled-inverse.icon-circle(href="#" class="fa fa-rss")

        p.text-dark.offset-top-30.offset-lg-top-57
          | &copy; #[span(id="copyright-year")]. All rights reserved. #[br.veil-xs] #[a(href="privacy.html") Privacy Policy]
          block footerLink