// Minimal Dark Footer
footer.section-relative.section-57.page-footer.bg-ebony-clay.context-dark
  .shell-wide
    .range.range-xs-center.range-sm-justify
      .cell-xs-10.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-2.text-sm-left
        // Footer brand
        .footer-brand
          a(href=cfg.nav.home.href)
            | !{cfg.brand.logoInverse}

      .cell-xs-10.cell-sm-6.cell-md-4.cell-lg-4.cell-xl-3.offset-top-30.offset-sm-top-0.text-sm-right
        p.text-dark
          | &copy; #[span(id="copyright-year")]. All rights reserved. 