//- Includes
include ../elements/_ui-counter-type-1

// Skills
section.section-90.section-md-122(style="background: #282e3c url(images/backgrounds/background-04-642x538.png) repeat;")
  .shell-wide
    .range.range-xs-center
      .cell-xs-5.cell-md-3
        +counter-type-1("Hotels", "text-bold text-lightning-yellow", {
          "dataTo": "5984",
          "dataSpeed": "3000",
          "attr": "text-bold text-white offset-top-20"
        }, "divider divider-xs bg-primary", "h1")
      .cell-xs-5.cell-md-3.offset-top-66.offset-xs-top-0
        +counter-type-1("Routes", "text-bold text-lightning-yellow", {
          "dataTo": "378",
          "dataSpeed": "2500",
          "attr": "text-bold text-white offset-top-20"
        }, "divider divider-xs bg-primary", "h1")
      .cell-xs-5.cell-md-3.offset-top-66.offset-md-top-0
        +counter-type-1("Attractions", "text-bold text-lightning-yellow", {
          "dataTo": "67321",
          "dataSpeed": "1500",
          "attr": "text-bold text-white offset-top-20"
        }, "divider divider-xs bg-primary", "h1")
      .cell-xs-5.cell-md-3.offset-top-66.offset-md-top-0
        +counter-type-1("Resorts", "text-bold text-lightning-yellow", {
          "dataTo": "10874",
          "dataSpeed": "1300",
          "attr": "text-bold text-white offset-top-20"
        }, "divider divider-xs bg-primary", "h1")