//- Include
include ../elements/_ui-thumbnail-terry

// popular countries
section.section-90.section-md-122
  .shell-wide
    h2.text-uppercase.text-bold.text-ebony-clay popular countries
    hr.divider.divider-lg.bg-primary

    .range.range-xs-center
      .cell-sm-8.cell-md-12
        .owl-carousel.owl-carousel-default.owl-carousel-arrows.owl-carousel-arrows-fullwidth.veil-xl-owl-dots.veil-owl-nav.reveal-xl-owl-nav(data-items="1" data-md-items="2" data-lg-items="4" data-margin="30" data-nav="true" data-dots="true" data-nav-class='["owl-prev icon-primary-filled fa fa-chevron-left", "owl-next icon-primary-filled fa fa-chevron-right"]')
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "Thailand",
              "descStyle": "offset-md-top-10",
              "description": "642 Offers",
              "thumb": {
                "src": "images/offers/offer-05-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "England",
              "descStyle": "offset-md-top-10",
              "description": "482 Offers",
              "thumb": {
                "src": "images/offers/offer-06-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "Italy",
              "descStyle": "offset-md-top-10",
              "description": "587 Offers",
              "thumb": {
                "src": "images/offers/offer-07-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "France",
              "descStyle": "offset-md-top-10",
              "description": "635 Offers",
              "thumb": {
                "src": "images/offers/offer-08-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "Thailand",
              "descStyle": "offset-md-top-10",
              "description": "642 Offers",
              "thumb": {
                "src": "images/offers/offer-05-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })
          div
            +thumbnail-terry({
              "type": "thumbnail",
              "thumbnailStyle": "thumbnail-border-none",
              "titleStyle": "font-accent text-bold",
              "title": "England",
              "descStyle": "offset-md-top-10",
              "description": "482 Offers",
              "thumb": {
                "src": "images/offers/offer-06-420x280.jpg",
                "width": 420,
                "height": 280,
                "alt": ""
              },
              "target": {"href": cfg.nav.pages.submenu.guidePage.href}
            })