-
	var cfg = {
		"brand": {
			"name": "Fast Travel",
			"logo": "<img width='191' height='23' src='images/logo-dark.png' alt=''/>",
			"logoInverse": "<img width='191' height='23' src='images/logo-light.png' alt=''/>",
			"logoInverseV2": "<img width='188' height='29' src='images/logo-light-v2.png' alt=''/>",
			"logoBig": "<img class='img-responsive' width='330' height='51' src='images/logo-big.png' alt=''/>",
			"href": "index.html",
			"image": { "src": "images/intense/intense-570x428.jpg", "width": 570, "height": 428, "alt": "" }
		},
		"breadcrumbs": {
			"image": "images/backgrounds/background-06-1920x950.jpg"
		},
		"nav": {
			"home": {
				"title": "Home",
				"href": "index.html",
			},
			"about": {
				"title": "About",
				"href": "about.html",
			},
			"countries": {
				"title": "Countries",
				"href": "country-page.html",
				"submenu": {
					"germany": {
						"title": "Germany",
						"href": "country-page.html"
					},
					"italy": {
						"title": "Italy",
						"href": "country-page.html"
					},
					"spain": {
						"title": "Spain",
						"href": "country-page.html"
					},
					"france": {
						"title": "France",
						"href": "country-page.html"
					},
					"thailand": {
						"title": "Thailand",
						"href": "country-page.html"
					},
				}
			},
			"guides": {
				"title": "Guides",
				"href": "guides.html",
			},
			"tipsAndTricks": {
				"title": "Tips & Tricks",
				"desc": "Our Blog",
				"href": "blog-classic.html",
				"submenu": {
					"blogClassic": {
						"title": "Classic Blog",
						"href": "blog-classic.html"
					},
					"blogGrid": {
						"title": "Grid Blog",
						"href": "blog-grid.html"
					},
					"blogMasonry": {
						"title": "Masonry Blog",
						"href": "blog-masonry.html"
					},
					"blogModern": {
						"title": "Modern Blog",
						"href": "blog-modern.html"
					},
					"singlePost": {
						"title": "Post Page",
						"href": "single-post.html"
					},
				}
			},
			"deals": {
				"title": "Deals",
				"href": "deals.html",
			},
			"pages": {
				"title": "Pages",
				"href": "#",
				"submenu": {
					"404": {
						"title": "404 Page",
						"href": "404.html"
					},
					"503": {
						"title": "503 Page",
						"href": "503.html"
					},
					"underConstruction": {
						"title": "Under Construction",
						"href": "under-construction.html"
					},
					"siteMap": {
						"title": "Site Map",
						"href": "site-map.html"
					},
					"termsOfUse": {
						"title": "Terms of Use",
						"href": "privacy.html"
					},
					"singleDeal": {
						"title": "Single Deal Page",
						"href": "single-deal.html"
					},
					"serchResults": {
						"title": "Search Results",
						"href": "search-results.html"
					},
					"faq": {
						"title": "FAQ Page",
						"href": "faq.html"
					},
					"testimonials": {
						"title": "Testimonials",
						"href": "testimonials.html"
					},
					"careers": {
						"title": "Careers",
						"href": "careers.html"
					},
					"services": {
						"title": "Services",
						"href": "services.html"
					},
					"singleService": {
						"title": "Single Service",
						"href": "single-service.html"
					},
					"ourTeam": {
						"title": "Our Team",
						"href": "our-team.html"
					},
					"teamMemberPage": {
						"title": "Team Member Profile",
						"href": "team-member.html"
					},
					"countryPage": {
						"title": "Country Page",
						"href": "country-page.html"
					},
					"guidePage": {
						"title": "Guide Page",
						"href": "guide-page.html"
					},
					"typography": {
						"title": "Typography",
						"href": "typography.html"
					},
					"buttons": {
						"title": "Buttons",
						"href": "buttons.html"
					},
					"forms": {
						"title": "Forms",
						"href": "forms.html"
					},
					"tables": {
						"title": "Tables",
						"href": "tables.html"
					},
					"tabsAccordions": {
						"title": "Tabs and Accordions",
						"href": "tabs-accordions.html"
					},
					"progressBar": {
						"title": "Progress Bars",
						"href": "progress-bars.html"
					},
					"icons": {
						"title": "Icons",
						"href": "icons.html"
					},
					"grid": {
						"title": "Grid",
						"href": "grid.html"
					},
					"headerCorporate": {
						"title": "Header Corporate",
						"href": "header-corporate.html"
					},
					"headerCentreFooterCentreDark": {
						"title": "Header Centre, Footer Centre Dark",
						"href": "header-centre-footer-centre-dark.html"
					},
					"headerMinimalFooterMinimalDark": {
						"title": "Header Minimal, Footer Minimal Dark",
						"href": "header-minimal-footer-minimal-dark.html"
					},
					"headerTransparentFooterCentreLight": {
						"title": "Header Transparent, Footer Centre Light",
						"href": "Header-transparent-footer-centre-light.html"
					},
					"headerHamburgerMenu": {
						"title": "Header Hamburger Menu",
						"href": "header-hamburger-menu.html"
					},
					"footerWidgetDark": {
						"title": "Footer Widget Dark",
						"href": "footer-widget-dark.html"
					},
					"footerWidgetLight": {
						"title": "Footer Widget Light",
						"href": "footer-widget-light.html"
					},
					"footerMinimalLight": {
						"title": "Footer Minimal Light",
						"href": "footer-minimal-light.html"
					},
				}
			},
			"gallery": {
				"title": "Gallery",
				"href": "gallery-grid.html",
				"submenu": {
					"galleryGrid": {
						"title": "Grid Gallery",
						"href": "gallery-grid.html",
					},
					"gridWithoutPaddingGallery": {
						"title": "Grid Without Padding Gallery",
						"href": "grid-without-padding-gallery.html",
					},
					"galleryMasonry": {
						"title": "Masonry Gallery",
						"href": "gallery-masonry.html",
					},
					"galleryCobbles": {
						"title": "Cobbles Gallery",
						"href": "cobbles-gallery.html",
					},
				}
			},
			"contacts": {
				"title": "Contacts",
				"href": "contacts.html",
			},
		}
	}