//
// Box member
// --------------------------------------------------

.box-member {
  position: relative;
  display: inline-block;

  img {
    display: inline-block;
    border-radius: $border-radius-base;
  }
}

// hover from 1200
@media (min-width: $screen-lg-min) {
  .box-member-title {
    a {
      &:hover {
        color: $brand-orange-peel;
      }
    }
  }

  .box-member .box-member-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 79.5%;
    overflow: hidden;
    z-index: 2;
    transition: .3s;

    // Box Member Caption
    .box-member-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin-top: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-transform: uppercase;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      .list-inline {
        @include transform(translateY(255%));

        li {
          @include transform(translateY(100%));
          opacity: 0;
          transition: .35s all ease;

          &:nth-child(2) {
            transition-delay: .1s;
          }

          &:last-child {
            transition-delay: .2s;
          }
        }
      }
    }

    &:hover {

      .list-inline li {
        @include transform(translateY(0));
        opacity: 1;
      }
    }
  }
}

// Box member type 2
// --------------------------------------------------

.box-member-type-2 {
  .box-member-img-wrap {
    position: relative;

    img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-base;
      background: rgba($gray-base, .3);
      transition: .3s all ease;
    }
  }

  .box-member-caption-wrap {
    padding: 20px;
    background: $brand-ebony-clay;
  }

  @media (min-width: $screen-lg-min) {
    .box-member-title {
      a {
        &:hover {
          color: $brand-primary;
        }
      }
    }

    .box-member-wrap {
      height: 100%;

      &-img-wrap {
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
      }

      .box-member-caption {
        text-transform: none;

        &-wrap {
          padding: 0;
          background: transparent;
          @include transform(translateY(115%));
          transition: .3s all ease;
        }

        .list-inline {
          margin-top: 10px;
          @include transform(translateY(0));
        }
      }

      &:hover {
        .box-member-caption-wrap {
          @include transform(translateY(65%));
        }
      }

      @media (min-width: $screen-xl-min) {
        .box-member-caption-wrap {
          @include transform(translateY(172%));
        }

        .list-inline {
          margin-top: 20px;
        }

        &:hover {
          .box-member-caption-wrap {
            @include transform(translateY(125%));
          }
        }
      }
    }
  }
}


// Member block
// -------------------------

.member-block {
  .member-block-body {
    .contact-info {
      li {
        .icon-xxs.icon-circle {
          font-size: 18px;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }

    .icon-xxs {
      font-size: 16px;
    }

    .icon-xxs, .icon-xxs.icon-circle {
      width: 32px;
      height: 32px;
      line-height: 29px;
    }
  }
}