//
// Offsets
// --------------------------------------------------


// Insets
// -------------------------

$insets: (0, 5px, 8px, 10px, 12px, 15px, 20px, 30px, 35px, 40px, 51px, 55px, 60px, 70px, 80px, 85px, 90px, 93px, 97px, 100px, 170px);

html .page{
  @include indent-responsive(inset, left, padding-left, $medias, $insets);
  @include indent-responsive(inset, right, padding-right, $medias, $insets);
}


// Elements
// -------------------------

.inset-left-7p{
  padding-left: 7%;
}
.inset-right-7p{
  padding-right: 7%;
}

.inset-left-11p{
  padding-left: 11%;
}

.inset-right-11p{
  padding-right: 11%;
}


// Grid
// -------------------------


// Sections
// -------------------------


// Responsive
// -------------------------

$offsets: (0, 4px, 5px, 8px, 10px, 13px, 18px, 20px, 23px, 30px, 35px, 40px, 45px, 52px, 57px, 63px, 66px, 90px, 95px, 108px, 122px, 130px, 350px);

html .page{
  @include indent-responsive(offset, top, margin-top, $medias, $offsets);
}