//
// Panels custom
// --------------------------------------------------

// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-title,
.panel-heading,
.panel-footer {
  font-size: $panel-size;
  font-weight: $panel-weight;
  text-transform: uppercase;
}

.panel-group {
  .panel-title {
    padding-right: 25px;
  }

  &.accordion {
    .panel-heading {
      position: relative;
      padding: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;

      a {
        display: inline-block;
        width: 100%;
        padding: 13px 22px;
        transition: .2s;

        &:after {
          position: absolute;
          top: 10px;
          bottom: 0;
          right: 20px;
          width: 20px;
          font-family: "Material Design Icons";
          font-size: 21px;
          font-weight: 400;
          color: $gray-dark;
          content: '\f465';
        }

        &.collapsed {
          &:after {
            content: '\f504';
          }
        }
      }
    }

    .panel-body {
      padding: 8px 25px 15px 20px;
      font-size: 16px;
      line-height: (25/16);
    }

    .panel + .panel {
      margin-top: 10px;
    }
  }

  @media (min-width: $screen-md-min) {
    &.accordion .panel-heading {
      font-size: 16px;

      a:after {
        right: 15px;
      }
    }
  }
}

// Panels sizing
// --------------------------------------------------

// Panel xs
// ----------------------------

.panel-xl {
  padding: 20px;

  .form-label {
    position: static;
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    .form-label {
      margin-bottom: 6px;
    }
    .element-fullwidth {
      max-width: 255px;
    }

    .element-fullwidth-inverse {
      min-width: 240px;
    }
  }
  @media (min-width: $screen-lg-min) {
    .element-fullwidth-xs {
      max-width: 155px;
    }
    .element-fullwidth-sm {
      max-width: 185px;
    }
    .element-fullwidth-md {
      max-width: 215px;
    }
    .element-fullwidth-lg {
      max-width: 265px;
    }

    .element-fullwidth-inverse-xl {
      min-width: 290px;
    }
  }
  @media (min-width: $screen-lg-min + 99) {
    padding: 30px;
  }
}

// Panel xxs
// ----------------------------

.panel-xxs {
  @media (min-width: $screen-xs-min) {
    .element-fullwidth {
      min-width: 150px;
    }
  }
}

// Panel xs
// ----------------------------

.panel-xs {
  padding: 30px 30px 40px;

  @media (max-width: $screen-sm-min - 1) {
    .form-label.focus {
      top: -20px;
      left: 0;
    }
  }
}

// Panel lg
// ----------------------------

.panel-lg {
  padding: 20px 30px 30px;

  .form-label {
    position: static;
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    .form-label {
      margin-bottom: 6px;
    }
    .element-fullwidth {
      max-width: 255px;
    }
  }
  @media (min-width: $screen-lg-min) {
    .element-fullwidth {
      &:first-child, &:nth-child(2) {
        max-width: 273px;
      }
      &:last-child, &:nth-child(3) {
        max-width: 177px;
      }
    }
  }
  @media (min-width: $screen-lg-min + 99) {
    padding: 20px 40px 30px;
  }
}

// Panels Vertival
// --------------------------------------------------

.panel-vertical {
  .element-fullwidth {
    max-width: none;
    width: 100%;
  }

  @media (min-width: $screen-xs-min) {
    .element-fullwidth-xs {
      width: 49%;
    }
  }
}


// Panels SM Resize
// --------------------------------------------------

.panel-sm-resize {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
    .element-fullwidth {
      max-width: 330px;
    }
  }
}


// Panels MD Resize
// --------------------------------------------------

.panel-md-resize {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    .element-fullwidth {
      max-width: 240px;

      &:last-child {
        max-width: 145px;

        .btn {
          min-width: 0;
        }
      }
    }
    .element-fullwidth-xs {
      max-width: 142px;
    }
    .element-fullwidth-sm {
      max-width: 185px;
    }
    .element-fullwidth-md {
      max-width: 215px;
    }
    .element-fullwidth-lg {
      max-width: 265px;
    }
  }
}