//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
  padding-bottom: 14px;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-accent;
}

// Basic Typography
// -------------------------

h1,
.h1 {
  margin-top: 26px;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 1.3;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h1;
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  margin-top: 42px;
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h2;
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h3;
    font-size: $font-size-h3;
  }
}

h4,
.h4 {
  margin-top: 28px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h4;
    font-size: $font-size-h4;
  }
}

h5,
.h5 {
  margin-top: 29px;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h5;
    font-size: $font-size-h5;
  }
}

h6,
.h6 {
  margin-top: 29px;
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: $font-lh-h6;
    font-size: $font-size-h6;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $brand-primary;
  }

  .small {
    color: $gray-dark;
  }
}

p,
.p,
.list {
  margin-top: 18px;
  margin-bottom: 18px;

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: $screen-xs) {
  .big {
    font-size: 106.25%;
    line-height: 1.470588235294118;

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 93.75%;

  &:before {
    display: none;
  }

  h1 &,
  .h1 & {
    font-size: 62.22222222222222%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

sub {
  bottom: -0.5em;
}

sub, sup {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}

code {
  padding: 2px;
  font-size: inherit;
  font-family: $font-family-base;
  color: $white;
  background-color: $brand-atlantis;
  border-radius: 0;
}

pre {
  padding: 16px 19px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.13;
  overflow-x: auto;

  code {
    font-size: 75%;
    text-align: left;
  }
}

mark, .mark {
  background-color: #ABCC37;
  padding: .1em;
}

.text-extra-small{
  font-size: 13px;
}

.text-extra-big{
  font-size: 100px;
  line-height: .7;

  @media (min-width: $screen-sm-min) {
      font-size: 140px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 180px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 240px;
  }
}

// Lists
// -------------------------

.list {
  > li + li {
    margin-top: 10px;
  }
}

.list-numbered {
  padding-left: 15px;
  li {
    padding-left: 10px;
  }
}

// List inline
//
.list-inline {
  margin-left: -5px;
  margin-right: -5px;

  > li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-inline-0 {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-inline-2 {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.list-inline-4 {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-inline-md {
  margin-left: -15px;
  margin-right: -15px;

  > li {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list-inline-lg {
  margin-left: -30px;
  margin-right: -30px;

  > li {
    padding-left: 30px;
    padding-right: 30px;

    &:first-child {
      padding-left: 0;
    }

    &:before {
      color: $gray;
    }

    & + li {
      [class*='fa-']:before {
        margin-left: 15px;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    li + li {
      [class*='fa-']:before {
        margin-left: 0;
      }
    }

    [class*='fa-']:before {
      padding-left: 15px;
      padding-right: 10px;
    }
  }
}

.list-inline-primary {
  > li > a {
    transition: .3s;
    &:hover {
      color: $brand-primary;
    }
  }
}
.list-inline-white {
  > li > a {
    transition: .3s;
    &:hover {
      color: $white;
    }
  }
}

.list-inline-dashed {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 5px;
      }
    }
  }
}

.list-inline-icon {
  li + li {
    position: relative;
    margin-left: 31px;

    &:before {
      content: '\f14f';
      position: absolute;
      top: 50%;
      left: -25px;
      font-family: $icon-font-material-design;
      color: rgba($white, .5);
      @include transform(translateY(-50%));
    }
  }
}

html .page .list-filled-orange-peel {
  > li > a {
    transition: .3s all ease;
    &:hover {
      color: $brand-ebony-clay;
      background: $brand-orange-peel;
      border-color: $brand-orange-peel;
    }
  }
}

.list-vertical-right-line {
  li {
    padding: 20px;
    transition: .3s all ease;

    &:hover {
      color: $white;
      background: darken($brand-primary, 10%);
    }
    @media (min-width: $screen-lg-min) {
      padding: 0;
    }
  }

  @media (min-width: 1400px) {
    li {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 160px;
        @include transform(translateY(-50%));
        background: rgba($white, .4);
      }
    }
  }
}

.list-inline-dashed-wide {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 20px;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    > li {
      & + li {
        &:before {
          padding-right: 5px;
        }
      }
    }
  }
}

.list-inline-squared {
  > li {
    position: relative;
    & + li {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: -7px;
        height: 6px;
        border-left: 6px solid;
      }
    }
  }

  &.list-inline-mg{
    &+li{
      &:before{
        left: -23px;
      }
    }
  }

  &.list-inline-lg{
    &+li{
      &:before{
        left: -33px;
      }
    }
  }
}

// List marked
//

.list-marked {
  text-align: left;
  @include list-unstyled;
  li {
    padding-left: 15px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 13px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $brand-primary;
    }
  }

  &-icon {
    li {
      &:before {
        content: '\f105';
        top: 12px;
        left: -5px;
        font-family: "FontAwesome";
        width: auto;
        height: auto;
        border-radius: 0;
        font-size: 12px;
        color: $gray;
        background-color: transparent;
      }
    }
  }
}

// List index
//
.list-index {
  @include list-unstyled;
  counter-reset: li;
  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal)".";
        counter-increment: li;
        color: $gray;
      }
    }
  }
}

// List separeted
//
.list-separated {
  li + li {
    border-top: 1px solid $gray-lighter;
    margin-top: 8px;
    padding-top: 7px;
  }
}

// Backgrounds
// -------------------------

.bg-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$gray-base});
}

.bg-gray-darkest {
  @include bg-variant-custom(#{$gray-darkest});
}

.bg-gray-darker {
  @include bg-variant-custom(#{$gray-darker});
}

.bg-gray {
  @include bg-variant-custom(#{$gray});
}

.bg-gray-light {
  @include bg-variant-custom(#{$gray-light})
}

.bg-lighter {
  @include bg-variant-custom(#{$gray-lighter});
}

.bg-lightest {
  @include bg-variant-custom(#{$gray-lightest});
}

.bg-deluge {
  @include bg-variant-custom(#{$brand-deluge});
  @extend %context-dark;
}

.bg-white {
  @include bg-variant-custom(#{$white});
}

.bg-ebony-clay {
  @include bg-variant-custom(#{$brand-ebony-clay});
}

.bg-catskill {
  @include bg-variant-custom(#{$brand-catskill});

  .form-control {
    background: $white;
  }
}

.bg-primary {
  @include bg-variant-custom(#{$brand-primary});
}

.bg-orange-peel {
  @include bg-variant-custom(#{$brand-orange-peel});
}

.bg-warning {
  @include bg-variant-custom(#{$brand-warning});
}

.bg-atlantis {
  @include bg-variant-custom(#{$brand-atlantis});
}


// Gradient background
//

.bg-lightning-yellow {
  @include bg-variant-custom(linear-gradient(90deg, $brand-warning 0%, $brand-orange-peel 100%));
}


// Overlay background
//

.bg-overlay-white {
  background: rgba($white, .8);
}

.bg-overlay-gray-darkest {
  background: rgba($gray-darkest, .65);
}


.bg-overlay-ebony-clay {
  background: rgba($brand-ebony-clay, .6);
}

.bg-overlay-lg-darker {
  background: rgba($gray-base, .4);

  @media (min-width: $screen-lg-min) {
    background: transparent;
  }
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $brand-primary);
  @include text-emphasis-variant('.text-gray', $gray);
  @include text-emphasis-variant('.text-gray-variant-2', $brand-gray);
  @include text-emphasis-variant('.text-lighter', $gray-lighter);
  @include text-emphasis-variant('.text-jungle-green', #212121);
  @include text-emphasis-variant('.text-deluge', $brand-deluge);
  @include text-emphasis-variant('.text-darker', $gray-darker);
  @include text-emphasis-variant('.text-white', $white);
  @include text-emphasis-variant('.text-dark', $gray-dark);
  @include text-emphasis-variant('.text-orange-peel', $brand-orange-peel);
  @include text-emphasis-variant('.text-catskill', $brand-catskill);
  @include text-emphasis-variant('.text-warning', $brand-warning);
  @include text-emphasis-variant('.text-ebony-clay', $brand-ebony-clay);
  @include text-emphasis-variant('.text-atlantis', $brand-atlantis);
  @include text-emphasis-variant('.text-alto', $brand-alto);

  // Contextual colors
  //
  %text-gradient {
    &, &:before {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .text-lightning-yellow {
    @extend %text-gradient;

    &, &:before {
      color: $brand-warning;
      background-image: -webkit-linear-gradient(0deg, $brand-warning 0%, $brand-orange-peel 100%);
    }
  }
}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

.shadow-variant-2{
  box-shadow: $shadow-area-variant-2;
}

.page .shadow-none {
  box-shadow: none;
}


// Borders
// -------------------------

.border-gray-light {
  border-color: $gray-light;
}

.border-gainsboro {
  border-color: $gray;
}

// Address
// -------------------------

.contact-info {
  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  a {
    &, .icon {
      transition: .3s all ease;
    }

    &:hover {
      &, span {
        color: $brand-warning;
      }

      .icon-warning {
        color: $brand-warning;
        background: $brand-ebony-clay;
      }
    }
  }

  dl {
    margin-bottom: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
      font-size: 15px;
    }

    dt, dd a {
      color: $gray-darker;
    }

    dd a:hover {
      color: $brand-primary;
    }
  }
}


// Both Lines
// -------------------------

.both-lines {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 1px;
    background: $white;
    @include transform(translateY(-50%));
  }

  &:before {
    left: -50px;
  }

  &:after {
    right: -50px;
  }
}

// modal
.modal-open {
  padding-right: 0 !important;
  overflow: auto;
}

.modal.fade .modal-dialog {
  top: 50%;
  left: 50%;
  margin: 10px;
  transform: translate(-50%, -60%);
}
.modal.fade.in .modal-dialog {
  transform: translate(-50%, -50%);
}
.modal-body {
  padding: 25px 30px;
  .contact-info + * {
    margin-top: 30px;
  }
  .contact-info {
    a {
      color: $gray-dark;
    }
    .contact-item + .contact-item {
      margin-top: 20px;
    }
    
    > * + * {
      margin-top: 10px;
    }

    .contact-item {
      .icon-primary {
        color: $white;
        background: $brand-primary;
      }
    }
    
    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .right-block {
        flex-basis: 50%;
      }
      > * + * {
        margin-top: 0;
      }
    }
  }
}